<div class="container" style="padding-top:50px">
    <div class="row">
        <div class="col-md6">
            <div>
                <span>Enter Your Name</span><br />
                <input type="text" id="txtUser" /><br />
                <span>Enter Your Message :</span><br />
                <textarea rows="10" cols="50" id="txtMessage"></textarea><br />
                <button type="submit" id="btnSend" class="btn btn-info">Send Message</button>
            </div>
        </div>
        <div class="col-md6" style="padding-left:50px">
            <h3>Message List:</h3>
            <ul id="list" class="alert alert-info"></ul>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>